__pycache__/
*.py[cod]
*.so
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
htmlcov/
.cache
target/
data/results
notebooks/*.csv
.idea
.spyproject/
.ipynb_checkpoints/
*.swp
.pytest_cache
!notebooks/*-databases/*.csv

