.env
__pycache__/
*.py[cod]
*.so
.Python
env/
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
*.mo
*.pot
*.log
docs/_build/
target/
.env
*.rdb
data/
data/logs
data/plots
data/processed/
data/raw
notebooks/*.csv
.idea
.spyproject/
.ipynb_checkpoints/
*.swp
.pytest_cache
venv/
!notebooks/*-databases/*.csv

